/* Serious Fonts */


.fonts {
    font-family: 'Lato', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Fun Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Bungee+Spice&family=Caveat&family=Chathura&family=Dorsa&family=Economica&family=Ephesis&family=Ewert&family=Flavors&family=Fredericka+the+Great&family=Geo&family=Jolly+Lodger&family=Kalam&family=Loved+by+the+King&family=McLaren&family=Nabla&family=Nanum+Pen+Script&family=Pathway+Gothic+One&family=Rancho&family=Rock+Salt&family=Rubik+Iso&family=Rubik+Pixels&family=Rubik+Vinyl&family=Saira+Extra+Condensed&family=Shadows+Into+Light&family=Six+Caps&family=Sriracha&family=Tangerine&family=Unica+One&family=UnifrakturMaguntia&family=Wire+One&family=Yanone+Kaffeesatz&display=swap');

.fonts2 {
    font-family: 'Ewert', serif;
    font-family: 'Fredericka the Great', serif;
}

/* Regular Styles */

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8)),
        url('./') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}